
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}


/* Container da mensagem de erro */
.error-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
}

.error-container h1 {
    font-size: 4rem;
    color: #8B4513;
}

.error-container p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.error-container img {
    width: 500px;
    margin: 20px 0;
    animation: float 2s infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

