<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit - Página Não Encontrada</title>
    <link rel="stylesheet" href="/css/styles404.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../icons/cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>
        <nav class="nav-links">
            <a href="/index">Home</a>
            <a href="/planos">Planos</a>
            <a href="/quemSomos">Quem Somos</a>
            <a href="/login">Entrar</a>
        </nav>
    </header>

    <div class="error-container">
        <h1>404</h1>
        <p>Ops! A página que você está procurando não foi encontrada.</p>
        <img src="/imagens/cactus_triste.png" alt="Cacto Triste">
        <p>Que tal voltar para a <a href="/index">página inicial</a>?</p>
        <a href="/index" class="btn">Voltar para o início</a>
    </div>

    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
