<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit - Página Não Encontrada</title>
    <link rel="stylesheet" href="/css/stylesError.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
</head>
<body>

    <div class="error-container">
        <h1>#404</h1>
        <p>Ops! A página que você está procurando não foi encontrada.</p>
        <img src="/imagens/cactus_triste.png" alt="Cacto Triste">
    </div>

   
</body>
</html>
