<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>


<body>
    <header>
        <div class="logo">
            <img src="../icons\cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>

        <div class="nav-links">
            <a href="/index">Home</a>
            <a href="/planos">Planos</a>
            <a href="/quemSomos">Quem Somos</a>
            <a href="/perfil">Perfil</a>
        </div>
    

    </header>
    <main>
        <div class="profile">
            <img src="../icons/profile-icon.png" alt="Profile Picture">
            <p>Thiago Giovanni</p>
        </div>
        
        <div class="cards">
            <div class="card">
            <a href="/lista"> <img src="../icons\cliente.png" alt="Cliente Icon"></a>
                <p>Lista dos Clientes</p>
            </div>

            <div class="card">
                 <a href="/faturas"> <img src="../icons\dollar.png" alt="Faturas Icon"> </a>
                <p>Pagamentos</p>
            
        </div>
    </main>
    
    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
