<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
    <link rel="stylesheet" href="/css/styles.css">     
</head>
<body>
    <header>
        <div class="logo">
            <img src="../icons\cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>

        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="planos.html">Planos</a>
            <a href="quemSomos.html">Quem Somos</a>
            <a href="login.html">Entrar</a>
        </div>
    </header>

    <main>
        <div class="profile">
            <img src="../icons/profile-icon.png" alt="Profile Picture">
            <p>Thiago Giovanni</p>
        </div>

        <div class = "cards">
            <div class = "card">
                <img src="../icons\teacher_portrait.png" alt="Aluno Icon">
                <p>Lista de lunos</p>
            </div>

            <div class = "card">
                <a href="faturas.html">  <img src="../icons/dollar.png" alt="Faturas Icon"> </a>
                <p>Pagamentos</p>
            </div>

        </div>

    </main>
</body>
</html>