<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - SertãoFit</title>
    <link rel="stylesheet" href="/css/stylesLista.css">
    
    
</head>


<body>
    <header>
        <a href="/instrutor" class="back-button">Voltar</a>
        <h1>Clientes</h1>
    </header>
    <main>
        <div class="pilulas-container">
            <div class="pilula">
                <img src="../icons/profile-icon.png" alt="Profile Picture">
                <h2>Thiago Giovanni Nunes Bezerra</h2>
            </div>
            <div class="pilula">
                <img src="../icons/profile-icon.png" alt="Profile Picture">
                <h2>Maria Alcântara Guimarães Ferreira</h2>
            </div>
            <div class="pilula">
                <img src="../icons/profile-icon.png" alt="Profile Picture">
                <h2>Pedro Nunes Barbosa de Sá Firmino</h2>
            </div>
            <div class="pilula">
                <img src="../icons/profile-icon.png" alt="Profile Picture">
                <h2>José Felipe Cardoso</h2>
            </div>
            <div class="pilula">
                <img src="../icons/profile-icon.png" alt="Profile Picture">
                <h2>Adriana Costa de Matos Fonseca</h2>
            </div>
        </div>
    </main>


    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
